<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>demo_97</display-name>
   <filter>
    <filter-name>EncondingFilter</filter-name>
    <filter-class>com.aaa.demo.filter.EncondingFilter</filter-class>
  </filter> 
  
<filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>com.aaa.demo.filter.LoginFilteer</filter-class>
  </filter>
  <!-- 映射配置 -->
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/home.jsp</url-pattern>
  </filter-mapping>
 <filter-mapping>
    <filter-name>EncondingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.aaa.demo.servlet.UsersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.aaa.demo.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.aaa.demo.servlet.MenuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.aaa.demo.servlet.EmpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustomersServlet</servlet-name>
    <servlet-class>com.aaa.demo.servlet.CustomersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SuppliersServlet</servlet-name>
    <servlet-class>com.aaa.demo.servlet.SuppliersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductsServlet</servlet-name>
    <servlet-class>com.aaa.demo.servlet.ProductsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CategoriesServlet</servlet-name>
    <servlet-class>com.aaa.demo.servlet.CategoriesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShippersServlet</servlet-name>
    <servlet-class>com.aaa.demo.servlet.ShippersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.aaa.demo.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpImgServlet</servlet-name>
    <servlet-class>com.aaa.demo.servlet.EmpImgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Marketing</servlet-name>
    <servlet-class>com.aaa.demo.servlet.Marketing</servlet-class>
  </servlet>












  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/servlet/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/servlet/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/servlet/EmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomersServlet</servlet-name>
    <url-pattern>/servlet/CustomersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuppliersServlet</servlet-name>
    <url-pattern>/servlet/SuppliersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductsServlet</servlet-name>
    <url-pattern>/servlet/ProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoriesServlet</servlet-name>
    <url-pattern>/servlet/CategoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShippersServlet</servlet-name>
    <url-pattern>/servlet/ShippersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/servlet/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpImgServlet</servlet-name>
    <url-pattern>/servlet/EmpImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Marketing</servlet-name>
    <url-pattern>/servlet/Marketing</url-pattern>
  </servlet-mapping> 
  
  <error-page>
  	<!-- 错误码 -->
  	<error-code>404</error-code>
  	<!-- 跳转页面地址 -->
  	<location>/jsp/error/404.jsp</location>
  </error-page>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/jsp/error/500.jsp</location>
  </error-page>
  
  <listener>
  	<listener-class>com.aaa.demo.listener.SessionListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>